**/.vscode
**/.cache
**/.idea
**/.DS_Store
**/node_modules/
**/.env
**/dist/
**/build/

**/package.json
**/package-lock.json
**/webpack.config.json
**/.eslintrc.json
**/.gitmessage.txt
**/static/
**/.eslintrc.json
**/.gitmessage.txt
**/.firebase/
**/.firebaserc
**/firebase.json

